body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #111;
    color: white;
}
#result > img,
#result > video,
#result > iframe {
    max-width: 700px; 
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
input,
button {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}

button {
    background-color: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0d47a1;
}

#spinner {
    margin-top: 20px;
}

#result {
    margin-top: 30px;
}

#explanation {
    width: 70%;
    margin: 20px auto;
    line-height: 1.6;
    text-align: justify;
}

.gallery-card {
    width: 250px;
    background: #222;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.gallery-card img,
.gallery-card video,
.gallery-card iframe {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.goto {
    display: inline-block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}