body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Segoe UI', sans-serif;
	text-align: center;
	background: #000814;
	color: #ffffff;
}

h1 {
	font-size: 48px;
	color: #ffcc00;
	text-shadow: 0 0 15px #ffcc00;
	margin-bottom: 20px;
}

a {
	padding: 10px 20px;
	background: #ffcc00;
	color: #000814;
	text-decoration: none;
	font-weight: bold;
	border-radius: 6px;
}
