body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #111;
    color: white;
}
h1 {
	font-size: 48px;
	color: #ffcc00;
	text-shadow: 0 0 15px #ffcc00;
	margin-bottom: 20px;
}

a {
	padding: 10px 20px;
	background: #ffcc00;
	color: #000814;
	text-decoration: none;
	font-weight: bold;
	border-radius: 6px;
}
